/* courselist.module.css */

.courseresponsive .courseImage {
    width: 30vw;
    border-radius: 2vw 0 0 2vw;
    max-height: 250px;
    min-height: 250px;
}

.courseresponsive .courseDetails {
    width: 60vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

@media (max-width: 600px) {
    .courseresponsive {
        flex-direction: column;
    }

    .courseresponsive .courseImage {
        width: 100%;
        max-height: auto;
        border-radius: 2vw 2vw 0 0;
    }

    .courseresponsive .courseDetails {
        width: 100%;
    }
}